<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title"></h3>
</div>
<form name="modifyForm" novalidate  class="modify-agent-info" autocomplete="off">
    <div class="modal-body">
        <!--<div class="modal-group">-->
            <!--<label><span class="required-star">*</span>通知内容：</label>-->
            <!--<div class="group-item textarea-wrap">-->
                <!--<textarea ng-model="params.reason" required></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="modal-group">&ndash;&gt;-->
            <!--<label class="text">-->
                <!--<input type="radio" ng-change="setChooseReason()" name="reason" ng-model="params.selectText" value="对不起，您暂时无法推单，请联系美月付工作人员。">-->
                <!--<span>对不起，您暂时无法推单，请联系美月付工作人员。</span>-->
            <!--</label>-->

        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="modal-group">&ndash;&gt;-->
            <!--<label class="text">-->
                <!--<input type="radio" ng-change="setChooseReason()" name="reason" ng-model="params.selectText" value="亲爱的房管员，由于您的账户长期未推单，您已被打入冷宫。如需解救，请尽快联系美月付工作人员哦。">-->
                <!--<span>亲爱的房管员，由于您的账户长期未推单，您已被打入冷宫。如需解救，请尽快联系美月付工作人员哦。</span>-->
            <!--</label>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<hr>-->
        <div class="modal-group">
            <label><span class="required-star">*</span>冻结原因：</label>
            <div class="group-item textarea-wrap">
                <textarea ng-model="params.freezeReason" required></textarea>
                <!--<input type="text" ng-model="params.freezeReason" required>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="error-info">{{errorInfo}}</p>
        <button class="btn btn-primary btn-submit" ng-disabled="modifyForm.$invalid" ng-click="submit()" type="submit">确定</button>
        <button class="btn btn-primary btn-cancel" ng-click="$dismiss('cancel')" >取消</button>
    </div>
</form>

